@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Passion+One');

body {
  background-color: black;
  margin: 0;
}

select {
  height: 50px;
  font-size: 24px;
}

button {
  padding: 10px 10px;
  font-size: 20;
  border: 5px solid orange;
  font-family: 'Bowlby One SC', cursive;
  background-color: orange;
}

.container {
  /*border: 2px #ccc solid;*/
  text-align: center;
  height: 100%;
  padding-top: 2.5em;
  font-size: 2em;
  color: #fff;
  /*font-family: 'Bowlby One SC', cursive;*/
  font-family: 'Passion One', cursive;
}

.balanceBar {
  width: 60%;
  height: 20px;
  border: 2px #ccc solid;
  text-align: center;
  margin: 0 auto;
}

.balanceSection {
  display: inline-block;
  height: 20px;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
}

.balanceSection p {
  margin: 0;
  padding: 3px;
}

.spent {
  background-color: #83EC8F;
  transition: width 1s ease-in-out;
}

.spending {
  background-color: #F2EE45;
  transition: width 1s ease-in-out;
}

.left {
  background-color: #f9003b;
  transition: width 1s ease-in-out;
}